<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="none">
<test name="TestNG" annotations="JDK">
    <classes>
        <class name="Steps.WriteTest">
            <methods>
                <include name="OpenHomePage"/>
                <include name="SearchChapter1"/>
                <include name="Assert_that_this_text_is_on_the_pag"/>
                <include name="ReturnHomePage"/>
            </methods>
        </class>
    </classes>
</test>
</suite>